.header{
  background-color: lightblue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin-top: -50px;
  padding: 0;
  border-radius: 15px;
  height: 60px;

}
footer{
  height: 60px;
  border-radius: 15px;
  background-color: lightblue;
}
.search-bar{
  position: relative;
  margin-right: 10px;

}
.search-icion{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 10px;
   color: #999;
}
.search-bar input[type="text"]{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  transition: border-color 0.3s;

}
.search-bar input[type="text"]:focus{
  border-color: lightblue;
}
.notification-link{
    text-decoration: none;
    margin-right: 10px;

}
.notification-link i{
  font-size: 20px;
}
